logfile=/var/log/uniqush
# Log level: verbose, verbose,
[WebFrontend]
log=on
loglevel=verbose
addr=172.26.11.246:9898

[AddPushServiceProvider]
log=on
loglevel=verbose

[RemovePushServiceProvider]
log=on
loglevel=verbose

[PSPs]
log=on
loglevel=verbose

[Subscribe]
log=on
loglevel=verbose

[Unsubscribe]
log=on
loglevel=verbose

[Push]
log=on
loglevel=verbose

[Subscriptions]
log=on
loglevel=verbose

[Services]
log=on
loglevel=verbose

[Database]
engine=redis
host=10.80.2.60
port=6379
name=0
everysec=600
leastdirty=10
cachesize=1024

[apns]
pool_size=13
