[Unit]
Description=Kafka Daemon
After=zookeeper.service

[Service]
Type=simple
User=bbguser
Group=bbguser
LimitNOFILE=50000
Restart=on-failure
#EnvironmentFile=/etc/default/kafka
ExecStart=/usr/local/kafka/bin/kafka-server-start.sh /usr/local/kafka/config/server.properties
ExecStop=/usr/local/kafka/bin/kafka-server-stop.sh /usr/local/kafka/config/server.properties

[Install]
WantedBy=multi-user.target
